@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@200;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: #eee9e2;
  background-image: url('./images/headerBg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: rgba(21, 6, 2, 0.75);
}

a {
  text-decoration: none;
}

h1 a:hover {
  text-decoration: none;
}
a:hover {
  color: #9fc7b6;
  text-decoration: underline;
}

li {
  text-decoration: none;
}
